<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TaskFlow360.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="SmtpEmail" value="your-email@gmail.com" />
    <add key="SmtpPassword" value="uygulama-şifresi-buraya" />
    <add key="SmtpHost" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <TaskFlow360.Properties.Settings>
      <setting name="Email" serializeAs="String">
        <value />
      </setting>
      <setting name="Sifre" serializeAs="String">
        <value />
      </setting>
      <setting name="BeniHatirla" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CurrentUserID" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="SmtpEmail" serializeAs="String">
        <value>keyloggertr746@gmail.com</value>
      </setting>
      <setting name="SmtpPassword" serializeAs="String">
        <value>enid kmsu ubbk lcqr</value>
      </setting>
      <setting name="SmtpHost" serializeAs="String">
        <value>smtp.gmail.com</value>
      </setting>
      <setting name="SmtpPort" serializeAs="String">
        <value>587</value>
      </setting>
    </TaskFlow360.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>